A {
    color: blue;
    border: 0;
}

A:link {
    text-decoration: none;
}

A:hover {
    text-decoration: underline;
}

A:visited {
    text-decoration: none;
}

BODY {
    background-color: #d0f0e0;
    padding: 5px;
    margin: 0;
    font-family: arial, sans-serif;
    font-size: 1em;
    color: #0d2474;
}

DD {
    width: 500px;
    text-align: left;
    padding: 2px 0 2px 0
}

DT {
    text-align:right;
    float:left;
    padding: 2px 0 2px 0;
    margin-right: 5px;
    width: 150px;
}

H1 {
    padding: 10px 0 0 0 ;
}

TD {
    background: white;
    height: 30px;
    padding: 5px;
}

SPAN.replace {
}

SPAN.replace.new {
    background: url("../img/crud_add.png") no-repeat top right;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
}

TABLE {
    width: 700px;
}

TD.action {
    text-align: center;
}

TH {
    background: #bbbbcc;
    height: 15px;
    padding: 5px;
}

TH.action , TD.action {
    width: 10px; text-align:center
}

TR.odd td {
    background: #eeeeee;
}
