a {
    color: black;
    border: 0;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

body {
    padding: 5px;
    margin: 0;
    font-family: arial, sans-serif;
    font-size: 1em;
    color: #0d2474;
}

#content {
    width: 800px;
    margin: 0 auto;
}

tr.r0 {
    background: #eee;
}
tr.r1 {
    background: #bbb;
}